body {
  font-family: $primary-font;
  color: $font-color;
  background: $primary-background-color;
}

h1, h2, h3 {
  font-family: $secondary-font;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 45px;
  }
}

p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: inline-block;
}

figure {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

input,
textarea {
  border: none;
  background-color: inherit;
  resize: none;
}

@media (min-width: 1200px) {
  input,
  textarea {
    font-size: 18px;
  }
}

fieldset {
  border: none;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.button-styles {
  display: inline-block;
  font-size: 24px;
  font-family: $secondary-font;
  color: $secondary-background-color;
  background-color: $accent-color;
  padding: 10px;
  border: 2px solid $accent-color;
  transition: background-color .35s, color .35s;
  margin-top: 40px;
  &:hover,
  &:focus {
    background-color: inherit;
    color: $accent-color;
  }
}