body {
  font-family: $primary-font;
  color: $font-color;
  background: $primary-background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}

p {
  line-height: 1.5rem;
  margin: 0;
}

@media (min-width: 1200px) {
  p {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: inline-block;
}

figure {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.button-styles {
  display: inline-block;
  font-size: 1.25rem;
  font-family: $secondary-font;
  color: $secondary-background-color;
  background-color: $accent-color;
  padding: 10px;
  border: 2px solid $accent-color;
  transition: background-color .35s, color .35s;
  margin-top: 40px;
  &:hover,
  &:active {
    background-color: inherit;
    color: $accent-color;
  }
}