// four article container section
.four-article-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // header img height
  margin: 320px 0 100px;
  article {
    margin-bottom: 50px;
  }
  article:first-child {
    padding-top: 100px;
  }
}

.four-article-container article:last-child {
  margin-bottom: 0;
}

@media (min-width: 700px) {
  .four-article-container {
    justify-content: space-between;
    margin: 400px 0 125px;
    article {
      width: 45%;
    }
    article:first-child {
      padding-top: 0;
    }
  }
  
  .four-article-container article:nth-child(n+3) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .four-article-container {
    margin-top: 220px;
  } 

  .four-article-container article:first-child p {
    @include p-margin-left(42.5px);
  }

  .four-article-container article:nth-child(2) p {
    @include p-margin-left(45px);
  }

  .four-article-container article:nth-child(3) p {
    @include p-margin-left(37.5px);
  }

  .four-article-container article:last-child p {
    @include p-margin-left(40px);
  }
}

.icon-h2-container {
  display: flex;
  align-items: center;
  i {
    font-size: 20px;
    color: $secondary-background-color;
    background-color: $accent-color;
    padding: 10px;
    margin: 0 20px 20px 0;
    border-radius: 50%;
  }
}

// img-article-section
.img-article-section {
  background-color: $secondary-background-color;
  padding: 100px 0;
  margin-bottom: 100px;
}

@media (min-width: 1260px) {
  .img-article-section {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .img-article-two {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (min-width: 1260px) {
  .img-article-one {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .img-article-two {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

.img-article-one img,
.img-article-two img {
  width: 100%;
  max-width: 500px;
  height: auto;
  // box-shadow + 50px
  margin-bottom: 75px;
  object-fit: cover;
  box-shadow: 25px 25px 0px 0px $accent-color;
}

.img-article-two img {
  box-shadow: -25px 25px 0px 0px $accent-color;
}

@media (min-width: 1260px) {
  .img-article-one img {
    max-width: 590px;
    // box-shadow + 100px
    margin-top: -125px; 
  }
  .img-article-two img {
    max-width: 590px;
    // box-shadow + 75px
    margin: 50px 0 -100px;
  }
}
  
.img-article-one article,
.img-article-two article {
  max-width: 900px;
  // imitates wrapper
  padding: 0 2.5%;
  // box-shadow + 25px
  margin-bottom: 50px;
}

.img-article-two article {
  margin-bottom: 0;
}

@media (min-width: 1260px) {
  .img-article-one article {
    text-align: right;
    max-width: 475px;
    padding: 0;
    // box-shadow
    margin: 0 -25px 0 0;
  }

  .img-article-two article {
    max-width: 475px;
    padding: 0;
    // box-shadow
    margin: 0 0 0 -25px;
  }
}

// full bleed article section
.full-bleed-article-section {
  @include flex-column-center;
  text-align: center;
  margin-bottom: 100px;
}

@media (min-width: 1200px) {
  .full-bleed-article-section article {
    max-width: 875px;
  }
}

// full bleed img section
.full-bleed-img-section {
  height: 500px;
  background: url("assets-optimized/banner.jpg");
  margin-bottom: 100px;
}

// full bleed img article section
.full-bleed-img-article-section {
  margin-bottom: 100px;
  .img-article-container {
    @include flex-column-center;
    img {
      width: 100%;
      max-width: 350px;
      height: auto;
      // box-shadow + 50px
      margin-bottom: 75px;
      box-shadow: -25px 25px 0px 0px $accent-color
    }
  }
}

.img-article-container article .button-styles {
  margin-top: 20px;
}

@media(min-width: 1200px) {
  .full-bleed-img-article-section .img-article-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
      // box-shadow
      margin: 0 0 0 25px;
    }
  }

  .img-article-container article {
    max-width: 700px;
  }
}

// three column image section
.three-column-image-section {
  background-color: $secondary-background-color;
  padding: 100px 0;
  .three-column-image-container {
    @include flex-column-center;
    justify-content: space-between;
    img {
      width: 100%;
      max-width: 350px;
      height: auto;
      margin-bottom: 50px;
    }
  }
}

.three-column-image-section .three-column-image-container img:last-child {
  margin-bottom: 0;
}

@media (min-width: 1000px) {
  .three-column-image-section .three-column-image-container {
    flex-direction: row;
    img {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .three-column-image-section .three-column-image-container {
    flex-direction: row;
    justify-content: space-between;
    img {
      margin-bottom: 0;
    }
  }
}