// sidebar section

@media (min-width: 1200px) {
  .sidebar-section {
    position: relative;
    .wrapper {
      position: relative;
    }
  }
}

.sidebar-section img {
  display: block;
  width: 100%;
  max-width: 475px;
  height: auto;
  // .wrapper width
  padding: 0 2.5%;
  margin: 100px auto 0;
}

@media (min-width: 1200px) {
  .sidebar-section img {
    position: absolute;
    left: 0;
    z-index: 20;
    padding: 0; 
    width: 60%;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(475px - 5%);
  padding: 40px 20px;
  margin: 0 auto 100px;
  background-color: $secondary-background-color;
  h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  p {
    width: 240px; 
  }
}

.sidebar-container a {
  font-family: $primary-font;
  font-size: 18px;
  line-height: 28px;
  transition: color .35s;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

@media (min-width: 1200px) {
  .sidebar-container {
    position: absolute;
    top: 160px;
    left: 0;
    z-index: 10;
    width: 360px;
    padding: 410px 40px 40px;
    a {
      font-size: 18px;
      line-height: 28px; 
    }
  }
}

.mission-container {
  margin-bottom: 50px;
}

.posts-container {
  margin-bottom: 0;
}

.posts-container ul li {
  position: relative;
  margin-left: 20px;
  line-height: 25px;
}

@media (min-width: 1200px) {
  .posts-container ul li {
    font-size: 18px;
  }
}

.posts-container ul li::before {
  content: '';
  position: absolute;
  top: 12px;
  left: -20px;
  background-color: $accent-color;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

// blog post section

.blog-post-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1200px) {
  .blog-post-section {
    align-items: flex-end;
  }
}

.blog-post-section img {
  object-fit: cover;
  width: 90%;
  max-width: 675px;
  height: 400px;
  // box-shadow
  margin-left: 25px;
  box-shadow: -25px 25px 0px 0px $accent-color;
}

@media (min-width: 1200px) {
  .blog-post-section img {
    position: relative;
    margin-top: -140px;
    width: 55%;
    max-width: 810px;
    height: 500px;
  }
}

.blog-post-section article {
  // img width + box-shadow
  width: calc(90% + 25px);
  // +25px for box-shadow
  max-width: 700px;
  padding: 40px 20px;
  margin-bottom: 100px;
  border-left: 8px solid $accent-color;
  border-bottom: 8px solid $accent-color;
  p {
    margin-bottom: 30px;
  }
}

.blog-post-section article p:last-child {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .blog-post-section article {
    // +25px for box-shadow
    width: calc(55% + 25px);
    max-width: 835px;
    padding: 100px 80px;
  }
}

.comments-container {
  // imitating .wrapper spacing
  padding: 0 2.5%;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .comments-container {
    width: 675px;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .comments-container {
    margin: 0 80px 0 0;
  }
}

.blog-post-section .user-comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  img {
    width: 125px;
    height: 125px;
    box-shadow: none;
    margin: 0 0 20px 0;
  }
}

@media (min-width: 700px) {
  .blog-post-section .user-comment-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    img {
      margin-bottom: 0;
    }
  }
}

.comments-container .user-comment-container:last-child {
  margin-bottom: 0;
}

.user-comment-container p:first-child {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .user-comment-container p:first-child {
    font-size: 25px;
    line-height: 37px;
  }
}

.comment-text-container {
  max-width: 400px;
}

@media (min-width: 1200px) {
  .comment-text-container {
    max-width: 500px;
  }
}

.form-blog {
  margin-bottom: 100px;
  padding: 40px 2.5%; 
  width: 100%;
  max-width: 675px;
  background-color: inherit;
  box-shadow: none;
  input,
  textarea {
    border-color: $accent-color;
  }
}

@media (min-width: 700px) {
  .form-blog {
    padding: 40px 0;
  }
}

@media (min-width: 1200px) {
  .form-blog {
    margin-right: 80px;
  }
}