//colors
$font-color: #f3faff;
$primary-background-color: #03697c;
$secondary-background-color: #474bb5;
$accent-color: #08fded;
$footer-color: #044779;

//fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Walter Turncoat', cursive;